<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>EglisaHandMade</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="src/css/bootstrap.css">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link rel="stylesheet" href="src/css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body ng-cloak ng-controller="MainControler as mc">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container">
        <!-- Logo and responsive toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li>
                    <a href="Pagrindinis.html" title="">Pagrindis</a>
                </li>
                <li>
                    <a href="Apie.html" title="">Apie </a>

                </li>

                <li class="active">
                    <a href="index.html">Darbų galerija</a>
                </li>
                <li class="active">
                <a href="Kontaktai.html">Kontaktai</a>
            </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>

                    <a href="Prekių krepšelis"> Prekių krepšelis</a>
                <li>
                <form action=VartotojoProfilis.html>
                    <input type="text" name="Vartotojo vardas" id="vardas" placeholder="Vartotojo vardas" style="margin: 12px">
                    <input type="text" name="Slaptazodis" id="pavarde" placeholder="Slaptažodis"style="margin: 12px">
                    <input type="submit" value="Patvirtinti">
                </form>
                </li>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://www.facebook.com/eglisaa/?fref=ts" title="">FACEBOOK</a>
                </li>
            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container -->
</nav>


<!-- Content -->
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Darbų galerija
            </h1>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item" ng-repeat="preke in mc.prekiumasyvas">
            <a href="#">
                <img class="img-responsive"
                     src="{{preke.img}}" height="638"
                     width="637"/></a>
            <h3>
                <a href="{{preke.url}}">{{preke.Pavadinimas}}</a>
            </h3>
            <p>{{preke.aprasymas}}</p>
            <button ng-click="pridetiPreke(preke.id)">Pridėti į krepšelį</button>
        </div>


    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<footer>


    <div class="copyright">
        <div class="container">
            <p>Made by Sigucio Team</p>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="src/js/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<!--<script src="js/bootstrap.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>

</html>
